Paths.user
bin/DW5CoalMine_1.0.24231.1154.zip
DW5CoalMine/bin/Release/Mods/DW5CoalMine/Definition.json
DW5CoalMine/bin/Release/Mods/DW5CoalMine/DW5CoalMine.dll
DW5CoalMine/bin/Release/Mods/DW5CoalMine/DW5CoalMine.json
DW5CoalMine/bin/Release/Mods/DW5CoalMine/info.json
DW5CoalMine/bin/Release/Mods/DW5CoalMine/LICENSE.md
DW5CoalMine/bin/Release/Mods/DW5CoalMine/README.md
DW5CoalMine/obj/DW5CoalMine.csproj.nuget.dgspec.json
DW5CoalMine/obj/DW5CoalMine.csproj.nuget.g.props
DW5CoalMine/obj/DW5CoalMine.csproj.nuget.g.targets
DW5CoalMine/obj/project.assets.json
DW5CoalMine/obj/project.nuget.cache
DW5CoalMine/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
DW5CoalMine/obj/Debug/DW5CoalMine.AssemblyInfo.cs
DW5CoalMine/obj/Debug/DW5CoalMine.AssemblyInfoInputs.cache
DW5CoalMine/obj/Debug/DW5CoalMine.assets.cache
DW5CoalMine/obj/Debug/DW5CoalMine.csproj.AssemblyReference.cache
DW5CoalMine/obj/Debug/DW5CoalMine.GeneratedMSBuildEditorConfig.editorconfig
DW5CoalMine/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
DW5CoalMine/obj/Release/DW5CoalMine.AssemblyInfo.cs
DW5CoalMine/obj/Release/DW5CoalMine.AssemblyInfoInputs.cache
DW5CoalMine/obj/Release/DW5CoalMine.assets.cache
DW5CoalMine/obj/Release/DW5CoalMine.csproj.AssemblyReference.cache
DW5CoalMine/obj/Release/DW5CoalMine.csproj.CoreCompileInputs.cache
DW5CoalMine/obj/Release/DW5CoalMine.csproj.FileListAbsolute.txt
DW5CoalMine/obj/Release/DW5CoalMine.dll
DW5CoalMine/obj/Release/DW5CoalMine.GeneratedMSBuildEditorConfig.editorconfig
